/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# public generated folders
public/storage
public/hot
public_html/storage
public_html/hot
public/css
public/build/
public/js

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

#others
.idea/


/caddy
frankenphp
frankenphp-worker.php
